#menu{
    width: 100%;
    min-height: 100vh;
    background-color: #ACDAC5;
    position: relative;
}

#add-menu{
    background-color: white;
    width: 80vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 30px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 30px;
}

#dish {
    display: flex;
}

#dish:first-child{
    width: 50%;
}

#menu h3{
    font-size: 1.3em;
}

#menu label{
    font-weight: 600;
    color: #39a573;
    width: 140px;
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 10px;
}

#menu input[type="text"], #menu select{
    margin-bottom: 20px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    width: 250px;
    height: 30px;
    font-size: 1.05em;
}

#menu input[type="text"]:focus, #menu select:focus{
    outline: none;
}

#menu button{
    font-size: 1.2em;
    font-weight: 500;
    height: 28px;
    width: 28px;
    color: white;
    background-color: #ACDAC5;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}