#menu{
    width: 100%;
    min-height: 100vh;
    background-color: #ACDAC5;
    position: relative;
}

#add-menu{
    background-color: white;
    width: 80vw;
    height: 95vh;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 30px;
}

#add-menu-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dish {
    display: flex;
}

#dish:first-child{
    width: 50%;
}

#menu h3{
    font-size: 1.3em;
}

#menu label{
    font-weight: 600;
    color: #39a573;
    width: 140px;
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 10px;
}

#menu input[type="text"], #menu select{
    margin-bottom: 20px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    width: 250px;
    height: 30px;
    font-size: 1.05em;
}

#menu input[type="text"]:focus, #menu select:focus{
    outline: none;
}

#menu button{
    font-size: 1.2em;
    font-weight: 500;
    height: 28px;
    width: 28px;
    color: white;
    background-color: #ACDAC5;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

/* Image Upload */
#menu .file-upload{
    width: 145px;
    height: 145px;
    padding: 0;
    margin: 0;
}
#menu .image-upload-wrap{
    border: 4px dashed #1FB264;
    position: relative;
    margin-top: 3px;
}

#menu .file-upload h3 {
    text-align: center;
    font-weight: 100;
    color: #15824B;
    padding:20px 0;
    font-size: 1.2em !important;
  }

#menu .file-upload-image {
    max-height: 120px;
    max-width: 120px;
    padding: 0;
}

#menu .remove-image-btn {
    width:150px !important;
    height: 30px !important;
    font-size: 1em !important;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#submit-menu{
    width:150px!important;
    height: 40px !important;
}