body {
  margin: 0;
  font-family:'Quicksand', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Sign In - Sign Up*/
.main-container{
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ACDAC5;
}

.register{
  width: 850px;
  min-height: 55vh;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  background-color: white;
}

.left-register{
  width: 400px;
  margin: 0 auto;
  display: inline-block;
}

.welcome-photo{
  width:400px;
  height: 400px;
}

.right-register{
  width: 400px;
  display: inline-block;
}

.logo-div{
  margin-top: 30px;
  float: left;
}

.sign-in-logo{
  width: 180px;
}

.register h1{
  font-size: 2.2em;
  margin-bottom: 50px;
  margin-top: 70px;
}

.register input{
  background-color: #acdac5ba;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 350px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 1.2em;
  box-sizing: border-box;
  padding-left: 10px;
}

.register label{
  font-size: 18px;
  font-weight: 500;
}

.register button{
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 17px;
  border-radius: 12px;
  background-color: transparent;
  color: #45a479;
  border: 2px solid #64b892;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.register p{
  font-weight: 500;
  margin-bottom: 30px;
}

.register a{
  font-weight: bold;
  color: #45a479;
}

a:link, a:visited{
  text-decoration: none;
  color: #45a479;
}
#form{
  margin-left: 40px;
}

.sign-up-logo-div{
  margin-top: 25px;
  text-align: center;
}
.sign-up-logo{
  width: 280px;
}
#form h1{
  margin-top: 5px;
}

/* Following sign-up */

.follow-up-div{
  width: 1300px;
  height: 750px;
  background-color: #F8F8F8;
  border: 1px solid #A4A4A4;
  border-radius: 5px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px 50px;
}

.follow-up-div h1{
  color: #43C187;
}

.next, .skip{
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  color: #43C187;
  font-weight: 600;
  font-size: 1.35em;
}
.next{
  right: 40px;
}

/* Uploading Profile Photo */

.file-upload {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-content {
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-upload-wrap:hover {
  background-color: #ACDAC5;
  border: 4px dashed #ffffff;
}

.file-upload h3 {
  text-align: center;
  font-weight: 100;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 450px;
  max-width: 450px;
  padding: 20px;
}

.remove-image-btn {
  width: 200px;
  color: #fff;
  background: #43C187;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-image-btn:hover {
  background: rgb(226, 48, 48);
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

/* Opening Hours */
.oph-div{
  display: flex;
}

#oph-photo{
  width: 40%;
  text-align: center;
}

#setTime{
  width: 60%;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  position: absolute;
  top: 35%;
  right: 50px;
}

.oph{
  width: 250px;
  height: 40px;
  font-size: 22px;
  margin-right: 20px;
  margin-left: 20px;
  border: none;
  background-color: #d7d7d7;
  border-bottom: 5px solid gray;
}

.oph:focus, .oph:valid{
  outline: none;
  background-color: #ACDAC5;
  border-bottom: 5px solid #43C187;
}

#oph-validity:invalid{
  outline: none;
  background-color: #ACDAC5;
  border-bottom: 5px solid #EF0000;
}

#oph-photo img{
  width: 400px;
  margin: 30px auto;
}

.fa-plus{
  margin-top: 4px;
}

#desc{
  font-size: 1.2em;
}

body.active-modal {
  overflow-y: hidden;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #A5A5A5;
  
}
table{
  border: 1px solid #A5A5A5;
  border-collapse: collapse;
}

.color1{
  background-color: #9DA4A0;
}
.color2{
  background-color: pink;
}

.top_cook{
  width: 300px;
  height: 180px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
}

.top_cook:hover{
  transform: scale(1.05);
}

.top1 {
  background-image: url("../src/assets/green-bk1.png");
  box-shadow: inset 0 0 0 1000px rgba(94, 207, 156, 0.2);
}

.top2 {
  background-image: url("../src/assets/yellow-bk1.png");
  box-shadow: inset 0 0 0 1000px rgba(248, 159, 223, 0.28);
}
.top3 {
  background-image: url("../src/assets/yellow-bk1.png");
}
.top4 {
  background-image: url("../src/assets/green-bk1.png");
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.17);
}

.icon1{
  background-color: rgba(201, 236, 220, 0.8);
}
.icon2{
  background-color: rgba(249, 249, 249, 0.45);
}
.icon3{
  background-color: rgba(253, 249, 232, 1);
}
.icon4{
  background-color: rgba(227, 255, 240, 0.67);
}

.new_container{
  width: 300px;
  height: 42px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
}

.new1{
  border: 4px solid #adddc7d4;
}
.new2{
  border: 4px solid #FFD7D7;
}
.new3{
  border: 4px solid #FFE8B0;
}
.new4{
  border: 4px solid #bfe5d4c2;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: center;
  margin-top:70px;
}

.dropdown:hover + .dropdown-content, .dropdown-content:hover {
  display: block;
}

.dropdown-content:hover{
  background-color: #dbdbdb;
}

.btn-color{
  background-color: #97d5b9 !important;
}

.table-section td, .table-section th {
  width: 14.285%;
}

